[submodule "welfare-android-core"]
	path = welfare-android-core
	url = git@gitlab.com:nhviet/welfare-android-core.git
[submodule "chiase-android-module"]
	path = chiase-android-module
	url = git@gitlab.com:nhviet/chiase-android-module.git
